[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/Mysql"]
	path = modules/Mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/opsweekly"]
	path = modules/opsweekly
	url = https://github.com/Karen09/puppet-opsweekly.git
